$default: #635854;
$accent:#3596F5;
$white: #fff;
$count: #635854;
$bg-flat: #ebebeb;

%roboto-400{
    font-family: "Roboto-Regular";
    font-weight: 400;
}
%roboto-700{
    font-family: "Roboto-Bold";
    font-weight: 700;
}
%BNregular-400{
    font-family: "BebasNeueRegular";
    font-weight: 400;
}







