@import "reset";
@import "vars";
@import "fonts";
@import "global";

.header{
    background-color: $default;
    padding: 12px 0;
    border-bottom: 4px solid $accent;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-item{
        text-align: center;
    }
    &-item + &-item{
        margin-left: 40px;
    }
    &-link{
        color: $white;;
    }
    &-linkword{
        display: block;
    }
    &-contacts{
        color: $white;
        text-align: right;
    }
    &-text{
        font-size: 14px;
        line-height: 16px;
        display: block;
        margin-bottom: 4px;
    }
    &-phone{
        @extend %roboto-700;
        color: $white;
        font-size: 17px;
        line-height: 20px;
    }
}
// end header
.main{
    padding-top: 54px;
    &-wrapper{
        display: flex;
    }
    &-info{
        flex-grow: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &-title{
        @extend %BNregular-400;
        font-size: 37px;
        line-height: 37px;
    }
    &-counter-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.home-images path{
    opacity: 0;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}
path.current-floor{
    opacity: 1;
}
.counter-button{
    background-color: $white;
    border: none;
}
.counter-arrow-down{
    transform: rotateX(180deg);
}
.counter{
    @extend %BNregular-400;
    color: $count;
    font-size: 124px;
    line-height: 90px;
    margin: 35px 0;
}
.button-primary{
    background-color: $accent;
    border-radius: 6px;
    color: $white;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}
// start modal
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    display: flex;
    justify-content: center;
    align-items: center;
    &-dialog{
        max-width: 1000px;
        min-height: 565px;
        background-color: #fff;
        flex-grow: 1;
        display: flex;
    }
    &-image{
        background-color: $bg-flat;
        width: 60%;
        text-align: center;
        padding: 50px;
    }
    &-title{
        @extend %BNregular-400;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 25px;
    }
    &-floor{
        display: inline-block;
    }
    &-info{
        width: 40%;
        padding: 50px 46px;
    }
}
.flat-list{
    &__item{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__link{
        font-size: 16px;
        line-height: 19px;
        color: $default;
        text-decoration: none;
        &:hover{
            color: $accent;
            text-decoration: underline;
        }
    }
}

@import "@media";